<form>
    <div class="form-group" *ngIf="isUser">
        <label>User name</label>
        <input disabled [value]="userName" />
    </div>
    <div class="form-group" *ngIf="isUser">
        <label>E-mail</label>
        <input disabled [value]="userEmail" />
    </div>
    <div class="form-group">
        <label>Native Language</label>
        <select>
            <option></option>
            <option *ngFor="let language of languages;" 
                    [value]="language.Id">{{language.Translation}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Learning language</label>
        <select>
            <option></option>
            <option *ngFor="let language of languages;" 
                    [value]="language.Id">{{language.Translation}}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit">Save changes</button>
    </div>
</form>