@model IEnumerable<DAL.Models.DTO>
@using DAL.Models

@{
    ViewData["Title"] = "Categories";
}

<div class="my-container">
    @foreach (DTO item in Model)
    {
        <div class="item litle-transparent box-shadow">
            <img class="img" src="../../@item.Picture" />
            <div class="title">
                <h2>@item.Translation (@item.Native)</h2>
            </div>
            <a href="/Categories/Subcategories?id=@item.Id"></a>
        </div>
    }
</div>

@*https://localhost:44363/Categories/Subcategories/Manual?categoryId=3
https://localhost:44363/Categories/Subcategories/Slideshow?categoryId=3
https://localhost:44363/Test?subcategoryId=2
https://localhost:44363/Test/Test?testID=1*@