@model IEnumerable<DAL.Models.DTO>
@using DAL.Models

@{
    ViewData["Title"] = "Categories";
}

<div class="my-container">
    @foreach (DTO item in Model)
    {
        <div class="item litle-transparent box-shadow">
            <img class="img" src="../../@item.Picture" />
            <div class="title">
                <h2>@item.Translation (@item.Native)</h2>
                <a href="/Categories/Subcategories/Manual?categoryId=@item.Id">Manual view</a>
                <a href="/Categories/Subcategories/Slideshow?categoryId=@item.Id">Slideshow</a>
                <a href="/Test?subcategoryId=@item.Id">Tests</a>
            </div>
        </div>
    }
</div>