<h2>Change Password</h2>

<ngb-alert type="success" *ngIf="correctSubmitted && errorMessage == null" (close)="correctSubmitted = false">Changes saved!</ngb-alert>
<ngb-alert [dismissible]="false" type="danger" *ngIf="errorMessage != null">
    {{errorMessage}}
</ngb-alert>
<form [formGroup]="changePasswordForm" (ngSubmit)="setNewPassword()" class="w-50 p-3">
    <div class="form-group">
        <label>Current Password</label>
        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required"> Current password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">New Password is required</div>
            <div *ngIf="f.newPassword.errors.pattern">Password must be eight characters including one uppercase letter, one special character and alphanumeric characters</div>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Save</button>
    </div>
</form>