.vs/
bin/
obj/
packages/
DictionaryForFullStack/
UserImages/
node_modules/
dist/

package-lock.json
appsettings.Development.json
*.sln
*csproj
*.user

WebSpeak v.2/**/*.js
!webpack.config.js
WebSpeak v.2/**/*.map
WebSpeak v.2/**/*.scss
