syntax: glob

.vs/
bin/
obj/
publish/
packages/
DictionaryForFullStack/
UserImages/
node_modules/
wwwroot/app/**
wwwroot/bin/**
wwwroot/js/**
wwwroot/scripts/**
wwwroot/styles/**

package-lock.json
appsettings.[Dd]evelopment.json
*.sln
*csproj
*.user

WebSpeak v.2/**/*.js
!webpack.config.js
WebSpeak v.2/**/*.map
WebSpeak v.2/**/*.css
