@model IEnumerable<DAL.DTO.CategoriesDTO>
@using DAL.DTO

@{
    ViewData["Title"] = "WordsView";
}

<h1>WordsView</h1>

<h1>WordsView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active">
            <img class="d-block w-75 h-75 img-fluid" src="../../@Model.ElementAt(0).Picture" alt="First slide">
            <div class=" d-none d-md-block text-danger text-center">
                <h5>@Model.ElementAt(0).Translation</h5>

                <audio controls>
                    <source src="../../@Model.ElementAt(0).PronounceLearn" />
                </audio>


                <p>@Model.ElementAt(0).Native</p>

                <audio controls>
                    <source src="../../@Model.ElementAt(0).PronounceNative" />
                </audio>

            </div>
        </div>
        @foreach (CategoriesDTO item in Model.Skip(1))
        {
            <div class="carousel-item">
                <img class="d-block w-75 h-75 img-fluid" src="../../@item.Picture" alt="Second slide">
                <div class=" d-none d-md-block text-danger text-center">
                    <h5>@item.Translation</h5>

                    <audio controls>
                        <source src="../../@item.PronounceLearn" />
                    </audio>
                    <p>@item.Native</p>

                    <audio controls>
                        <source src="../../@item.PronounceNative" />
                    </audio>
                </div>
            </div>
        }
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success" role="button" data-slide="prev" href="#carouselExampleControls">Prev</button>
        <button type="button" class="btn btn-success" role="button" data-slide="next" href="#carouselExampleControls">Next</button>
    </div>
</div>
