@model IEnumerable<DAL.Models.DTO>
@using DAL.Models
@{
    ViewData["Title"] = "Tests";
}

<h1>Tests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Translation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DTO item in Model)
        {
            string output = String.Format("{0} ({1})", item.Translation, item.Native);
            string actionName = String.Format("Test{0}", item.Id);
        <tr>

            <td>
                @Html.ActionLink(output, actionName, "Test", null)
            </td>
            <td>
                <img src="../../@item.Picture" width="300" height="300" />
            </td>
        </tr>
        }
    </tbody>
</table>
