@model IEnumerable<DAL.Models.DTO>
@using DAL.Models
@{
    ViewData["Title"] = "Tests";
}

<div class="my-container">
    @foreach (DTO item in Model)
    {
        <div class="item box-shadow">
            <img class="img-fluid" src="../../@item.Picture" />
            <div class="title">
                <h2>@item.Translation (@item.Native)</h2>
            </div>
            <a href="/Test/Test?testID=@item.Id"></a>
        </div>
    }
</div>
