@model List<DTO>
@using DAL.Models;
@{
    ViewData["Title"] = "Test 9";
    var Data = Html.Raw(Json.Serialize(Model.ToArray()));
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Tests.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/TestStyle.css" />

<div class="test container">
    <div class="test_sounds row">

    </div>
    <div class="test_word"></div>
    <button class="confirm btn-success">Check</button>
</div>

<div class="test_result" style="display: none;"></div>


<script type="text/javascript">
    $(document).ready(() => {
        InitNewTest(@Data, 0, 4, 1);
        NextTest();
    })
</script>