@model List<DTO>
@using DAL.Models;
@{
    ViewData["Title"] = "Test 5";
    var Data = Html.Raw(Json.Serialize(Model.ToArray()));
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Tests.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/TestStyle.css" />

<div class="test container">
    <div class="test_images row">

    </div>
    <div class="test_word"></div>
    <div class="btn-group buttons">
        <button class="btn-success button_yes">TRUE</button>
        <button class="btn-danger button_no">FALSE</button>
    </div>
</div>

<div class="test_result" style="display: none;">
    <button class="save-result btn-success">Finish</button>
</div>


<script type="text/javascript">
    $(document).ready(() => {
        InitNewTest(@Data, 1, 1, 0);
        NextTest();
    })
</script>