.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
}

.image {
    width: 512px;
    height: 512px;
    margin: auto;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#slideshow {
    width: 512px;
    height: auto;
}

.carousel-item {
    height: auto;
}
