div.languages {
    border: 1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    vertical-align: middle;
    max-width: 100%;
    padding: 5px;
    text-align: center;
}

div.languages.active {
    padding: 0px;
}

div.languages.active {
    background: #D4F4D4;
}

#totalRatingLang div.languages:active {
    box-shadow: 0 0 5px -1px rgba(0,0,0,1);
}

div.users {
    display: none;
    background: #E2F1E2;
}

#totalRating {
    margin-bottom: 50px;
}