#result {
    text-align: center;
    font-size: 25px;
}

#error {
    display: none;
    margin-top: 20px;
}

.buttonSubmit {
    margin-top: 50px;
    text-align: center;
}

.image, .audio {
    margin: auto;
    display: flex;
    height: 300px;
    width: 300px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

audio {
    margin: auto;
}

.form-group {
    margin: auto;
}