<div class="container">
    <div class="my-container">
        <ng-container *ngFor="let category of categories">

            <div class="item litle-transparent box-shadow">

                <img class="img" src="{{category.picture}}" />
                <div class="title">
                    <h2>{{category.translation}} ({{category.native}})</h2>

                    <a [routerLink]="['./Manual', category.id]">Manual</a>
                    <a [routerLink]="['./Slideshow', category.id]">Slide-show</a>
                    <a [routerLink]="['./Tests', category.id]">Tests</a>
                </div>

            </div>
        </ng-container>
    </div>
</div>