<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="LearningLanguages" connectionString="Data Source=VINW0221;Initial Catalog=LearningLanguages;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
    <add name="ProductHouse" connectionString="Data Source=sql6002.site4now.net;Initial Catalog=DB_A41045_ProductHouseExt2;Persist Security Info=True;User ID=DB_A41045_ProductHouseExt2_admin;Password=ProductHouse1001"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>