@inject SignInManager<Users> SignInManager
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.StatisticsNavClass(ViewContext)" href="/Account/Statistics">Statistics</a></li>
</ul>
