<ngb-carousel *ngIf="words">
    <ng-container *ngFor="let word of words">
        <ng-template ngbSlide>
            <img class="d-block img-thumbnail" src="{{word.picture}}" alt="{{word.native}}">
            <div class="carousel-caption d-none d-md-block">
                <audio controls *ngIf="word.sound">
                    <source src="{{word.sound}}"/>
                </audio>

                <h3>{{word.translation}}</h3>
                <audio controls *ngIf="word.translationPronounce">
                    <source src="{{word.translationPronounce}}"/>
                </audio>

                <h3>{{word.native}}</h3>
                <audio controls *ngIf="word.nativePronounce">
                    <source src="{{word.nativePronounce}}"/>
                </audio>
            </div>
        </ng-template>
    </ng-container>
</ngb-carousel>