<div class="container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="provideRegistration()">
        
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('username').errors }" />
            <div *ngIf="submitted && registerForm.get('username').errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('username').errors.required">Username is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('email').errors }" />
            <div *ngIf="submitted && registerForm.get('email').errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('email').errors.required">E-mail is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="passwordHash">Password</label>
            <input id="passwordHash" type="password" formControlName="passwordHash" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('passwordHash').password.errors }" />
            <div *ngIf="submitted && registerForm.get('passwordHash').errors" class="invalid-feedback">
                <div *ngIf="registerForm.get('passwordHash').errors.required">Password is required</div>
                <div *ngIf="registerForm.get('passwordHash').errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/api/Login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
