/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background: linear-gradient(to bottom right, #43cea2, #185a9d)
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.my-container {
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
justify-content: center;
align-content: center;
}

.img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}


.title {
    display: flex;
    flex-direction: column;
}

.item {
    box-sizing: border-box;
    border: 5px solid transparent;
    display: grid;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in;
}

.litle-transparent {
    background: rgba(255, 255, 255, 0.4);
}

.item:hover {
    border: 7px solid #19906c;
    border-top-left-radius: 100% 20px;
    border-bottom-right-radius: 100% 20px;
    transition: .5s ease-in-out;
}

.item h2 {
    font-size: 0.8rem;
}
