<div class="container">
    <div class="grid-wrapper">
            <div class="side-nav_list">
                <p class="side-nav_list-header">Personal</p>
                <a class="side-nav_list-item " [routerLink]="['./Info']">Info</a>
                <a class="side-nav_list-item ">Settings</a>
                <a class="side-nav_list-item ">Change Password</a>
                <p class="side-nav_list-header">Statistic</p>
                <a class="side-nav_list-item ">Personal statistic</a>
                <a class="side-nav_list-item ">General statistic</a>
                <button class="btn-block btn-danger" (click)="logOut()">Logout</button>
            </div>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>