@using DAL.Models
@model IEnumerable<DTO>
@{
    ViewData["Title"] = "Category";
}

<div class="categories">
    @foreach (var category in Model)
    {
    <div class="category">
        <a href="~/Home/Categories/SubCategories?id=@category.Id">
            <p>@category.WordNativeLang (@category.WordLearnLang)</p>
            <img src="../@category.Picture" width="128" height="128" alt="@category.WordNativeLang">
        </a>
    </div>
     }
</div>

<style>
    .categories {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .category {
        width: 225px;
        height: 225px; 
        margin: auto; 
    }
</style>