@model IEnumerable<DTO>
@{
    ViewData["Title"] = "Category";
}

<link rel="stylesheet" href="~/css/CatTestsSubCat.css" />

<div class="parent">
    @foreach (var category in Model)
    {
    <a class="link" href="~/Home/Categories/SubCategories?id=@category.Id">
        <div class="child">
            <div class="text">
                <p>@category.WordNativeLang (@category.WordLearnLang)</p>
            </div>
            <img src="../@category.Picture" alt="@category.WordNativeLang">
        </div>
    </a>
    }
</div>
