@model IEnumerable<DAL.Models.DTO>

@{
    ViewData["Title"] = "Slideshow";
}

<link rel="stylesheet" href="~/css/Slideshow.css" />

<div class="container">
    <div class="slidecontainer">
        Interval: <div id="valueSlider"></div>
        <input type="range" min="500" max="5000" value="2250" class="slider" id="myRange">
    </div>
    <div class="row">
        <div id="slideshow" class="carousel slide container" data-ride="carousel" data-interval="50" data-pause="false">
            <div class="carousel-inner border border-success">
                <div class="carousel-item active">
                    <div class="image">
                        <img class="d-block img-thumbnail" src="../../../../@(Model.ElementAt(0).Picture)" alt="@Model.ElementAt(0).WordNativeLang">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h1>@Model.ElementAt(0).WordLearnLang</h1>
                    </div>
                </div>
                    @foreach (var word in Model.Skip(1))
                    {
                        <div class="carousel-item">
                            <div class="image">
                                <img class="d-block img-thumbnail" src="../../../../@word.Picture" alt="@word.WordNativeLang">
                            </div>
                            <div class="carousel-caption d-none d-md-block">
                                <h1>@word.WordLearnLang</h1>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div>
</div>

<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("valueSlider");
    var slideshow = document.getElementsByClassName('carousel-item')

    for (let i = 0; i < slideshow.length; i++) {
        slideshow[i].style.transitionDelay = slider.value + "ms";
    }

    output.innerHTML = slider.value;

    slider.oninput = function () {
        for (let i = 0; i < slideshow.length; i++) {
            slideshow[i].style.transitionDelay = this.value + "ms";
        }
        output.innerHTML = this.value;
    }
</script>