@using DAL.Models
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Test05";
}

<link rel="stylesheet" href="~/css/Test05.css" />

<div id="result">
    <b>Score: 0</b>
</div>
<div id="test">

</div>
<div class="buttonsSubmit">
    <button type="submit" class="btn btn-success" value="1" onclick="check(event)">True</button>
    <button type="submit" class="btn btn-danger" value="2" onclick="check(event)">Найобка</button>
</div>

<script>
    var testNumber = 5;
    var subCategoryId = @ViewBag.subCategoryId;
</script>
<script src="~/js/Test05.js"></script>

