@using DAL.Models
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Test02";
}

<link rel="stylesheet" href="~/css/Tests.css" />

<div id="result">
    <b>Score: 0</b>
</div>
<div id="test">

</div>
<div id="error" class="alert alert-danger" role="alert">

</div>
<div class="buttonSubmit">
    <button type="submit" class="btn btn-success" onclick="check()">Submit</button>
</div>

<script>
    var testNumber = 2;
    var subCategoryId = @ViewBag.subCategoryId;
</script>
<script src="~/js/Tests.js"></script>
