@using DAL.Models
@model List<DTO>

@{
    ViewData["Title"] = "Test02";
}

<link rel="stylesheet" href="~/css/Tests-01-02-04.css" />

<div id="result">
    <b>Score: 0</b>
</div>
<div id="test">

</div>
<div id="error" class="alert alert-danger" role="alert">

</div>
<div class="buttonSubmit">
    <button type="submit" class="btn btn-success" onclick="check()">Submit</button>
</div>

<script>
    var testNumber = 2;
    var subCategoryId = @Model.First().SubCategoryId;
    var model = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/Tests-01-02-04.js"></script>
