@using DAL.Models
@model IEnumerable<DTO>
@{
    ViewData["Title"] = "Tests";
}

<div>
    <p><a href="~/Home/Categories/SubCategories/Tests/Manual?id=@ViewBag.subCategoryId">Manual</a></p>
    <p><a href="~/Home/Categories/SubCategories/Tests/Slideshow?id=@ViewBag.subCategoryId">Slideshow</a></p>
</div>

<div class="tests">
    @foreach (var test in Model)
    {
    <a class="link" href="~/Home/Categories/SubCategories/Tests/@test.Picture.Substring(73, 6)?id=@ViewBag.subCategoryId">
        <div class="test">
            <p>@test.WordNativeLang (@test.WordLearnLang)</p>
            <img src="../../../@test.Picture" width="64" height="64" alt="@test.WordNativeLang">
        </div>
    </a>
    }
</div>

<style>
    .tests {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .test {
        width: 225px;
        height: 225px;
        margin: auto;
        position: relative;
        background: #e6edf7;
        color: #30507c;
    }

    .test:hover {
        cursor: pointer;
        opacity: .7;
    }

    .link:hover {
        text-decoration: none;
    }

    img {
        height: 128px;
        width: auto;
    }
</style>